<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style>
            body { 
                margin:0; 
                padding:0;
                font:100% "Helvetica Neue", Helvetica, Arial, sans-serif;
                color:#000;
                text-align:center;
                }
            p {
                font-size:1.3em;
                line-height:1.5;
                margin-bottom:1.3em;
            }
        </style>
    </head>
    <body>
    <div>
            <p><%= message %></p>
            <p>
            Thank you for having taken your time to provide us with your valuable feedback.<br>
            Your helpful comments are much appreciated, and your feedback will help us to continually improve the system offered to all of you.<br>
            Looking forward to see you again in the near future.
            </p>
            <p>
            Do you want to create another feedback? <a href="<%= url %>">Yes</a> <a href="https://www.google.com/">No</a>
            </p>
    </div>
    </body>
</html>